In [ ]:
import json
fd=open("more.json",'r')
r=fd.read()
fd.close()
records=json.loads(r)

ITEMS AVAILABLE IN SUPERMARKET

In [ ]:
records

{'0001': {'dt': '11.11.2022', 'name': 'Rice', 'pr': 50, 'qn': 2000},
 '0002': {'dt': '11.11.2021', 'name': 'Wheat', 'pr': 30, 'qn': 2000},
 '0003': {'dt': '12.12.2022', 'name': 'Mustard Oil', 'pr': 200, 'qn': 500},
 '0004': {'dt': '12.12.2022', 'name': 'Sunflower Oil', 'pr': 250, 'qn': 500},
 '0005': {'dt': '21.12.2022', 'name': 'Basmati Rice', 'pr': 70, 'qn': 500},
 '0006': {'dt': '21.12.2022', 'name': 'Flour', 'pr': 30, 'qn': 500},
 '0007': {'dt': '07.09.2021', 'name': 'Milk', 'pr': 50, 'qn': 50},
 '0008': {'dt': '07.09.2021', 'name': 'Paneer', 'pr': 100, 'qn': 10},
 '0009': {'dt': '10.09.2021', 'name': 'Meat_Chicken', 'pr': 200, 'qn': 50},
 '0010': {'dt': '10.09.2021', 'name': 'Meat_Mutton', 'pr': 800, 'qn': 50},
 '0011': {'dt': '10.09.2021', 'name': 'Meat_Pork', 'pr': 500, 'qn': 10},
 '0012': {'dt': '10.09.2021', 'name': 'Mushroom', 'pr': 600, 'qn': 5},
 '0013': {'dt': '11.11.2022', 'name': 'Moong Dal', 'pr': 150, 'qn': 50},
 '0014': {'dt': '11.11.2021', 'name': 'Musoor Dal', 'pr': 125, 'qn': 50},
 '0015': {'dt': '11.11.2021', 'name': 'Toor Dal', 'pr': 100, 'qn': 25},
 '0016': {'dt': '11.11.2022', 'name': 'Chana Dal', 'pr': 90, 'qn': 25},
 '0017': {'dt': '11.10.2021', 'name': 'Potato', 'pr': 30, 'qn': 100},
 '0018': {'dt': '11.10.2021', 'name': 'Onion', 'pr': 50, 'qn': 100},
 '0019': {'dt': '11.09.2021', 'name': 'Tomato', 'pr': 50, 'qn': 50},
 '0020': {'dt': '11.10.2021', 'name': 'Cucumber', 'pr': 50, 'qn': 25},
 '0021': {'dt': '10.10.2021', 'name': 'Brinjal', 'pr': 30, 'qn': 20},
 '0022': {'dt': '01.11.2021', 'name': 'Chilli', 'pr': 100, 'qn': 10},
 '0023': {'dt': '11.09.2021', 'name': 'Lemon', 'pr': 10, 'qn': 100},
 '0024': {'dt': '11.09.2021', 'name': 'Orange', 'pr': 15, 'qn': 100},
 '0025': {'dt': '11.09.2021', 'name': 'Apple', 'pr': 20, 'qn': 100},
 '0026': {'dt': '11.09.2021', 'name': 'Pinapple', 'pr': 50, 'qn': 50},
 '0027': {'dt': '11.09.2021', 'name': 'Mango', 'pr': 20, 'qn': 100},
 '0028': {'dt': '11.09.2021', 'name': 'Guava', 'pr': 10, 'qn': 95},
 '0029': {'dt': '11.11.2021', 'name': 'Tea', 'pr': 500, 'qn': 50},
 '0030': {'dt': '11.11.2022', 'name': 'Coffee', 'pr': 1000, 'qn': 3}}

In [ ]:
prod_id = str(input("Enter product ID:"))
name = str(input("Enter Name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
dt=str(input("Expiry Date:"))

records[prod_id] = {'name': name, 'pr': pr, 'qn': qn,'dt':dt}

js = json.dumps(records)

fd = open("more.json",'w')
fd.write(js)
fd.close()

Enter product ID:0001
Enter Name:Rice
Enter price:50
Enter quantity:2000
Expiry Date:11.11.2022

In [ ]:
import json
fd=open("more.json",'r')
r=fd.read()
fd.close()
records=json.loads(r)

PURCHASE ITEMS

In [ ]:
ui_prod  = str(input("Enter the product ID: "))
ui_quant = int(input("Enter the quantity: "))
if((records[ui_prod]['qn']-ui_quant)<0):
  print("Items not available")
else:
  print("Product: ", records[ui_prod]['name'])
  print("Price: ", records[ui_prod]['pr'])
  print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

  records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant
  js = json.dumps(records)

  fd = open("more.json",'w')
  fd.write(js)
  fd.close()

Enter the product ID: 0030
Enter the quantity: 2
Product:  Coffee
Price:  1000
Billing Amount:  2000

UPDATE INVENTORY

In [ ]:
# js = json.dumps(records)

# fd = open("more.json",'w')
# fd.write(js)
# fd.close()

SALE JSON

In [ ]:
# {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}
import json
fd=open("sale.json",'r')
r=fd.read()
fd.close()
sales=json.loads(r)
bill_no=str(len(sales)+1)
sales[bill_no] = {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

In [ ]:
sell=json.dumps(sales)

In [ ]:
fd=open("sale.json",'w')
w=fd.write(sell)
fd.close()

In [ ]:
import json
fd=open("sale.json",'r')
r=fd.read()
fd.close()
records=json.loads(r)

In [ ]:
print(records)

{'prod': '0028', 'qn': 5, 'amount': 50, '4': {'prod': '0030', 'qn': 2, 'amount': 2000}}